[Unit]
Description=tweetparser-WhaleBotRektd
After=network.target

[Service]
EnvironmentFile=
ExecStart=/bot-tweet/Twitter-bot/venv/bin/python tweetparser-WhaleBotRektd.py
ExecReload=/bot-tweet/Twitter-bot/venv/bin/python tweetparser-WhaleBotRektd.py
WorkingDirectory=/bot-tweet/Twitter-bot
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target